In [1]:
import pandas as pd
from Packages.LearningModel import ReplaceClassifier

In [2]:
allInformation =  pd.read_csv("Datasets/Diabetes_Diagnosis.csv")
allInformation.diabetes = allInformation.diabetes.apply(ReplaceClassifier)

In [3]:
#*********************     Question 2     *************************
# Descriptive statistics Diabetes
statistics_Diabetes = allInformation[allInformation['diabetes'] == '1'].describe()
statistics_Diabetes.rename(columns=lambda x: x + '_True', inplace=True)

# Descriptive statistics NonDiabetes
statistics_NonDiabetes = allInformation[allInformation['diabetes'] == '0'].describe()
statistics_NonDiabetes.rename(columns=lambda x: x + '_False', inplace=True)

In [4]:
# Dataframe that contains statistics for both Diabetes and NonDiabetes
statistics = pd.concat([statistics_Diabetes, statistics_NonDiabetes], axis=1)
statistics.to_csv('Exports/Q2_Regression_Result.csv')
statistics

,num_preg_True,glucose_conc_True,diastolic_bp_True,thickness_True,insulin_True,bmi_True,diab_pred_True,age_True,skin_True,num_preg_False,glucose_conc_False,diastolic_bp_False,thickness_False,insulin_False,bmi_False,diab_pred_False,age_False,skin_False
count,268.000000,268.000000,268.000000,268.000000,268.000000,268.000000,268.000000,268.000000,268.000000,500.000000,500.0000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000
mean,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164,0.873269,3.298000,109.9800,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000,0.774762
std,3.741239,31.939622,21.491812,17.679711,138.689125,7.262967,0.372354,10.968254,0.696581,3.017185,26.1412,18.063075,14.889947,98.865289,7.689855,0.299085,11.667655,0.586664
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.088000,21.000000,0.000000,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.750000,119.000000,66.000000,0.000000,0.000000,30.800000,0.262500,28.000000,0.000000,1.000000,93.0000,62.000000,0.000000,0.000000,25.400000,0.229750,23.000000,0.000000
50%,4.000000,140.000000,74.000000,27.000000,0.000000,34.250000,0.449000,36.000000,1.063800,2.000000,107.0000,70.000000,21.000000,39.000000,30.050000,0.336000,27.000000,0.827400
75%,8.000000,167.000000,82.000000,36.000000,167.250000,38.775000,0.728000,44.000000,1.418400,5.000000,125.0000,78.000000,31.000000,105.000000,35.300000,0.561750,37.000000,1.221400
max,17.000000,199.000000,114.000000,99.000000,846.000000,67.100000,2.420000,70.000000,3.900600,13.000000,197.0000,122.000000,60.000000,744.000000,57.300000,2.329000,81.000000,2.364000